.header{
    background-color: black;
    height: 46px;
}
.header__nav li{
    display: inline-block;
}
.header__nav li a{
    padding: 0 24px;
    line-height: 46px;
    text-decoration: none;
    color: white;
}

.header__nav li:hover a{
    background-color: aqua;
    color: black;
    display: block;
}

